@charset "UTF-8";

/*
    Typical Device Breakpoints - 03/2025
Legenda: P = Pequeno; M = Medio; G = Grande.

TELAS EXTRA-P:              Mínimo  ATÉ 480px
CELULARES-P:                481px   ATÉ 600px
CELULARES-G / TABLETS-P:    601px   ATÉ 768px
TABLETS-M:                  769px   ATÉ 1024px
NOTEBOOKS-M / PC-P:         1025px  ATÉ 1280px
PC / TELAS HD:              1281px  ATÉ 1440px
TELAS-G:                    1441px  ATÉ Máximo

*/

/* 
    Paleta de cores:  
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
}

